<div class="{% if class %}{{ class }}__item {% endif %}services-item {{ mod }} js-services-item">
    <div class="services-item__img">
        <!-- Размер превьюшек 384x320 -->
        <a href="{{ url.servicesShow }}"><img class="js-img-lazy" src="assets/images/pixel.png" data-src="{{ item.img }}" alt="{{ item.title }}" title="{{ item.title }}"></a>
    </div>
    <div class="services-item__info">
        <a class="services-item__title" href="{{ url.servicesShow }}">{{ item.title }}</a>
        <div class="services-item__price">
            <span class="services-item__price-curr">{% if item.price.curr %}{{ item.price.curr }}{% else %}{{ item.price }}{% endif %} ₽</span>
            {% if item.price.full %} <span class="services-item__price-full">{{ item.price.full }} ₽</span> {% endif %}
        </div>
        <!-- onclick="" фейковый для теста -->
        <button class="services-item__btn-buy" onclick="$(document).trigger('app.cart.add', {});">Book Now</button>
    </div>
</div>